body{
    background-color: burlywood;
    color:black; 
}

#gyules1{
    position: absolute;
    top:230px;
    right:200px;
    width: 650px;
    height: 650px;
}

#gyules2{
    position: absolute;
    top:230px;
    left:125px;
    width: 650px;
    height: 650px;
}

#szoveg1{
    position: absolute;
    top:150px;
    right:130px;
}

#szoveg2{
    position: absolute;
    top:145px;
    left:130px;
}

h1{
    font-size:40px;
    text-align: center;
}

p{
    font-size:25px; 
}